@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'normal-vazir';
  src: url('../public/font/ttf/Vazirmatn-Medium.ttf');
}
@font-face {
  font-family: 'bold-vazir';
  src: url('../public/font/ttf/Vazirmatn-Bold.ttf');
}
@font-face {
  font-family: 'light-vazir';
  src: url('../public/font/ttf/Vazirmatn-Light.ttf');
}
body{
  font-family: normal-vazir;
}

/* This is an example, feel free to delete this code */
.tooltip-container {
  --background: black;
  --support-size: 50px;
  --tooltip-radius: 10px 10px 10px 0;
  --outline-border-color: ;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  font-weight: bold;
  padding: 0.7em 1.8em;
  color: black;
  border: solid 1px var(--background);
  border-radius: 2px;
}

.tooltip-container::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.5s linear;
  outline: 3px solid transparent;
  background: var(--background);
}
.tooltip-container:hover {
  color: white;
}
.tooltip-container:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 0;
  outline-offset: 5px;
  outline-color: var(--outline-border-color);
}
.tooltip {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  transform: translateX(-5%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: var(--tooltip-radius);
  color: white;
  box-shadow: 3px 3px 0px var(--outline-border-color);
}

.tooltip::after {
  content: "سلام!";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  text-align: center;
  border-radius: var(--tooltip-radius);
}
.tooltip::before {
  position: absolute;
  content: "";
  bottom: 0;
  border-style: solid;
  border-width: 10px;
  left: 0;
  transform: translateX(-50%);
  border-color: transparent var(--background) var(--background) transparent;
  box-shadow: 0px 3px 0px var(--outline-border-color);
}

.tooltip-container:hover .tooltip::after {
  animation: hidden 0.5s 1.5s linear forwards;
}

.tooltip-container:hover .tooltip {
  top: calc(-100% - var(--support-size) * 0.5);
  opacity: 1;
  width: 200px;
  height: 35px;
  visibility: visible;
  pointer-events: auto;
  animation: shake 0.5s 1s linear;
  transition: all 0.3s 0.5s;
}

@keyframes hidden {
  50% {
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #1ca0f5;
  }
  100% {
    transform: translate(0, -50%) scale(0.5);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  40%,
  80% {
    transform: translateX(-10%);
  }
  20%,
  60%,
  100% {
    transform: translateX(0);
  }
}

.st2 {
  fill: #f9c8a7;
}
.st3 {
  fill: #ff9e97;
}
.st6 {
  fill: #d72e48;
}
.st7 {
  fill: #ffffff;
}
.st8 {
  fill: #ff8d7f;
}
.st10 {
  fill: #3d3d3b;
}
.st11 {
  fill: #1ca0f5;
}
.st12 {
  opacity: 0.2;
}
.st14 {
  fill: #b7b7b7;
}
.st15 {
  fill: #ead9cf;
}
#Calque_1 {
  display: inline-block;
  height: var(--support-size);
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
  left: 0;
  top: 0;
}
#left_x5F_arm_2_ {
  transform: translateX(2px);
}
.tooltip-container:hover #Calque_1 {
  top: calc(var(--support-size) * -1);
  opacity: 1;
}

.header{
  height: 65px;
  position: fixed;
  z-index: 1030;
  background: white;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 2px #c9c9c9;
}

.navigation-card {
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 50px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: 15px;
  border-radius: 19%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab:hover {
  background-color: rgb(227, 223, 223);
}
.hero{
  position: relative;
  top: 60px;
}
.paddingUl{
  padding-right: 40px;
  padding-top: 30px;
}
.baner-card{
  width:300px;
}

.picture-side{
  margin: 50px 0 0;
  padding: 50px 80px;
}
.picture-side-text{
  font-family: bold-vazir;
  font-size: 30px;
}
@media (max-width : 420px) {
  .paddingUl {
    padding-right: 15px;
    padding-top: 30px;
}
}
.baner-card-a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baner-card-text{
  margin-top: -20px;
    font-size: 20px;
    color: #333;
}
.footer-1 ul{
  display : flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-1 ul p{
  font-family: 'normal-vazir';
  font-size: 16px;

}
.footer-1 ul li{
  font-family: 'light-vazir';
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
}
.logo-line{
  flex-grow: 1;
  background-color: #c5c5c5;
  margin-right: -35px;
  height: 1px;
}
.login {
  color: #000;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
  -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(190px) translateY(-25px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.sign-page{
  background-color: #F5F4EF;
}

.terms {
  text-align: center;
  margin-top: 10px;
  color: #8d8d8d;
  font-size: 12px;
  clear: both;
  padding-top: 20px;
}

.card {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 0px 5px #c9c9c9;
  cursor: pointer;
  border-radius: 3px;
}
.card:hover {
  box-shadow: 0px 0px 8px #9d9d9d;
  scale: 1.01;
}
.card-price{
  display: flex;
  justify-content: space-between;
}
.card-color-size{
  display: flex;
  justify-content: space-between;
}
.card-size-group{
  display: flex;
  justify-content: space-around;
}
.card-color-group{
  display: flex;
  justify-content: space-around;
}
.price{
  font-size: 20px;
  font-family: bold-vazir;
  color: #333;
}
.card-title{
  padding: 20px 0 30px;
  /* text-align: center; */
  /* font-size: 18px; */
  font-family: 'bold-vazir';
  color: black;
}
.text{
  color: #787878;

}
.card-size{
  font-size: 12px
}

.card-color{
  width: .8rem;
  height: .8rem;
  border: #adadad solid 1px;
  border-radius: 50%;
}

.mt-custom{
  display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
}
.toman{
  font-size: 14px;
  color: #3d3d3b;
}
.price-details{
  font-size: 22px;
  font-family: bold-vazir;
}
.seller{
  font-family: light-vazir;
}
.title-details{
  font-size: 25px;
    color: #333;
}
.text-icon{
  position: relative;
  top: -6px;
  left: -8px;

}
.paddingUl a{
  font-size : 18px;
  color: #333;
  cursor: pointer;
}
.paddingUl a span{
  font-family: 'bold-vazir';
    color: #c8a117;
    cursor: pointer;
}
.paddingUl a span:hover{
  color: black;
}
@media (min-width : 768px) {
  .menu-navigation {
    display: none;
  }
}
@media (max-width : 767px) {
  .left-logo-responsive{
    position: fixed;
    left: -10px;
    top: -35px !important;
    width: 250px !important;
}
.picture-side{
  padding: 50px 10px;
}
}

.side-bar{
  z-index: 1032;
}

@media (max-width : 500px) {
  .footer-resposive{
    display: flex;
    height: 350px;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .baner-card{
    width:180px;
  }
  .picture-side{
    padding: 50px 0px;
  }

}

.loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: black;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
.profile{
  color: #333;
  font-family: bold-vazir;
  font-size: 25px;
  padding: 20px 50px 50px;
}
.notyet{
  color: #9a9a9a;
  font-family: bold-vazir;
}
.seller-title{
  font-family: 'light-vazir';
  color: black;
  font-size: 14px;
}
.input-price{
  border-radius: 0.375rem;
  border: 1px solid #ababab52;
  width: 140px;
  padding: 8px 12px;
}

.custom-category{
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 48px;
  padding: 0 16px;
  margin: 0 12px;
  color: #333;
  cursor: pointer;
}

.done-progress{
  border-radius: 50%;
  border: 3px solid rgb(213, 213, 213);
  display: flex;
  padding: 12px;
  width: 80px;
  height: 80px;
  justify-content: center;
}
.span-done-progress{
  width: 100px;
  height: 2px;
  background: #c2c2c2;
  margin-top: 40px;
}
.cart-card{
  box-shadow: rgb(201 201 201) 0px 0px 4px;
  height: 200px;
  max-width: 800px;
  margin: 25px auto;
}
.cart-number{
  position: relative;
  left: -170px;
  top: 35px;
}
@media (max-width : 1024px) {
  .cart-number {
    position: relative;
    right: 200px;
    top: -160px;

    width: 5px;
}
  .cart-card{
    height: 400px;
    width: 600px;

  }
  .deleteBtn{
    top: -40px !important;
    left: 300px !important;
  }
}
@media (max-width : 768px) {
  .cart-number {
    position: relative;
    right: 170px;
    top: -170px;
    width: 5px;
}
  .cart-card{
    height: 400px;
    width: 500px;
  }
  .deleteBtn{
    top: -40px !important;
    left: 250px !important;
  }
}
@media (max-width : 640px) {
  .cart-card{
    height: 450px;
    width: 300px;
  } 
   .cart-number{
    position: relative;
    right: -2px;
    top: -285px;
  }
  .done-progress{
    padding: 12px;
    width: 60px;
    height: 60px;
  }
  .span-done-progress{
    width: 100px;
    height: 2px;
    background: #c2c2c2;
    margin-top: 30px;
  }
  .deleteBtn{
    left: -148px !important;
    top: -16px !important;
  }
}
.deleteBtn{
  top: -98px;
  left: 37px;
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 15px;
  z-index: 2;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.offer-input{
  position: relative;
  top: -66px;
  left: -200px;
  font-size: small;
  background-color: white;
}
.text-decoration{
 
 color: #d9d3d8;
}
.ribbon {
  position: absolute;
  display: inline-block;
  
  top: 1em;
  right: 1.8em;
  
  max-width: 5em;
  
  color: #fff;
  
  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: 0;
  right: -6em;
  content: "";
  height: 4em;
  width: 15em;
  transform: rotatez(45deg);
  background-color: #ffbc00;
  z-index: -1;
}
/* .ribbon-box{
  position: relative;
  overflow: hidden;
} */
.ribbon-text{
  position: absolute;
  top: 25px;
  right: 0px;
  font-size: 20px;
  color: white;
}

.offer-card{
  position: relative;
  background: #ffbc00;
  width: 150px;
  height: 25px;
  right: -50px;
  transition: -4px;
  transform: rotate(0.13turn);
}